<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
             <a href="/">Go Back To Home</a>
   <h1><i>ABOUT:-</i></h1>
        <h2>nodemon</h2>
        <p>nodemon restarts server automatically</p>
        <h2>node.js</h2>
        <p>Node.js is a JavaScript runtime built on Chrome's V8 JavaScript engine. </p>
        <h2>express.js</h2>
        <p>Express
            Fast, unopinionated, minimalist web framework for Node.js</p>
        <h2>Thunder Client</h2>
        <p>get api response right in vs studio</p>

        <h2>EJS</h2>
        <p>template engine</p>
      </div>
   
</body>
</html>