<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express JS Crash Course</title>
  </head>
  <body>
    <a href="/about">Visit About</a>
    <div>
        <h1><i>HOME:-</i></h1>
      <h2>All Things used in this website</h2>
      <p>nodemon</p>
      <p>node.js</p>
      <p>express.js</p>
      <p>Thunder Client</p>
    </div>
    <a href="/download">Download About File</a>
  </body>
</html>
